/* Stone color palette */
/* 50 -#fafaf9 */
/* 100 -#f5f5f4 */
/* 200 -#e7e5e4 */
/* 300 -#d6d3d1 */
/* 400 -#a8a29e */
/* 500 -#78716c */
/* 600 -#57534e */
/* 700 -#44403c */
/* 800 -#292524 */
/* 900 -#1c1917 */
/* 950 -#0c0a09 */

@font-face {
	font-family: 'gothic';
	src: url(./fonts/gothic/gothic.woff);
}

body {
    box-sizing: border-box;
    background-color: #44403c;
    color: #d6d3d1;
    font-family: 'gothic';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parentWrapper {
    display: flex;
    width: 100%;
}

.sideboard {
    display: flex;
    flex: 1;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.childWrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    gap: 5px;
    grid-template: 15vh 15vh 15vh / 30vw 30vw 30vw;
    background-color: #171717;
    opacity: 0;
}

.container > div {
    display: flex;
    background-color: #44403c;
    justify-content: center;
    align-items: center;
}

.container > div:hover {
    background-color: #78716c;
    cursor: pointer;
}

.container > div > img {
    height: 80%;
}

.play,
.nameChange {
    height: 50px;
    width: 150px;
    margin: 25px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid #171717; */
    border: none;
    background: none;
    color: #d6d3d1;
    font-family: 'gothic';
    cursor: pointer;
    transform: rotate(-1.5deg);
}

button:after {
    content: ' >>>'
}

button:hover,
button:active {
    background: #e7e5e4;
    color: #44403c;
}

@media only screen and (min-width: 700px) {
    .container {
        gap: 10px;
        grid-template: 200px 200px 200px / 200px 200px 200px;
    }
}